# BUNDAS ANALYSIS

# Group Members
- Jeovine Oruko
- Dennis Ogunde
- Thiga Mureithi
- Brenda Cherono

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier

In [2]:
bundas_train = pd.read_csv("bundas_train.csv")
bundas_train.head()

,Item_ID,Weight,FatContent,Visibility,Category,Max_Price,Store_ID,Store_Establishment_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
bundas_train.describe(include='object')

,Item_ID,FatContent,Category,Store_ID,Store_Size,Store_Location_Type,Store_Type
count,8523,8523,8523,8523,6113,8523,8523
unique,1559,5,16,10,3,3,4
top,FDW13,Low Fat,Fruits and Vegetables,OUT027,Medium,Tier 3,Supermarket Type1
freq,10,5089,1232,935,2793,3350,5577

In [4]:
bundas_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_ID                     8523 non-null object
Weight                      7060 non-null float64
FatContent                  8523 non-null object
Visibility                  8523 non-null float64
Category                    8523 non-null object
Max_Price                   8523 non-null float64
Store_ID                    8523 non-null object
Store_Establishment_Year    8523 non-null int64
Store_Size                  6113 non-null object
Store_Location_Type         8523 non-null object
Store_Type                  8523 non-null object
Item_Store_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [5]:
bundas_train.shape

(8523, 12)

## Data Cleaning

In [6]:
bundas_train.isnull().any()

Item_ID                     False
Weight                       True
FatContent                  False
Visibility                  False
Category                    False
Max_Price                   False
Store_ID                    False
Store_Establishment_Year    False
Store_Size                   True
Store_Location_Type         False
Store_Type                  False
Item_Store_Sales            False
dtype: bool

### Weight and Store Size columns have missing data

In [7]:
bundas_train.isnull().sum()

Item_ID                        0
Weight                      1463
FatContent                     0
Visibility                     0
Category                       0
Max_Price                      0
Store_ID                       0
Store_Establishment_Year       0
Store_Size                  2410
Store_Location_Type            0
Store_Type                     0
Item_Store_Sales               0
dtype: int64

In [8]:
bundas_train[['Store_Size']].mode()

  Store_Size
0     Medium

### Fill null values in Store Size column with 'Unknown'

In [9]:
bundas_train['Store_Size'] = bundas_train.Store_Size.fillna('Unknown')

### Null values in Store Size columns have been dealt with by assigning 'Unknown' to them.

In [10]:
bundas_train[['Store_Size']].isnull().sum()

Store_Size    0
dtype: int64

In [11]:
weight = bundas_train[['Weight']]
float(weight.mean())

12.857645184136183

### Fill null values in Weight column with the mean which is 12.857645

In [12]:
bundas_train[['Weight']] = bundas_train.Weight.fillna(float(weight.mean()))

In [13]:
bundas_train[['Weight']].isnull().sum()

Weight    0
dtype: int64

In [14]:
bundas_train.sample(10)

,Item_ID,Weight,FatContent,Visibility,Category,Max_Price,Store_ID,Store_Establishment_Year,Store_Size,Store_Location_Type,Store_Type,Item_Store_Sales
4167,FDT40,5.985,Low Fat,0.095990,Frozen Foods,127.3678,OUT045,2002,Unknown,Tier 2,Supermarket Type1,508.6712
6681,DRK11,8.210,Low Fat,0.010781,Hard Drinks,149.9392,OUT049,1999,Medium,Tier 1,Supermarket Type1,1938.8096
5376,FDT32,19.000,Regular,0.065622,Fruits and Vegetables,186.5214,OUT035,2004,Small,Tier 2,Supermarket Type1,5275.7992
2689,NCX06,17.600,Low Fat,0.015687,Household,182.6976,OUT046,1997,Small,Tier 1,Supermarket Type1,3440.8544
6465,FDY15,18.250,Regular,0.171794,Dairy,154.6630,OUT017,2007,Unknown,Tier 2,Supermarket Type1,2659.8710
2333,FDI41,18.500,Regular,0.062257,Frozen Foods,148.0418,OUT046,1997,Small,Tier 1,Supermarket Type1,2059.9852
1091,FDV22,14.850,Regular,0.009931,Snack Foods,157.4630,OUT013,1987,High,Tier 3,Supermarket Type1,2503.4080
6137,FDZ43,11.000,Regular,0.057059,Fruits and Vegetables,241.7512,OUT046,1997,Small,Tier 1,Supermarket Type1,3635.2680
6570,FDP24,20.600,Low Fat,0.083172,Baking Goods,121.0756,OUT045,2002,Unknown,Tier 2,Supermarket Type1,1696.4584
4452,FDI24,10.300,Low Fat,0.078678,Baking Goods,177.0370,OUT013,1987,High,Tier 3,Supermarket Type1,3705.1770

In [15]:
bundas_train.FatContent.unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

### Fat Content column has multiple values that are semantically the same thing, e.g Regular = reg

In [16]:
bundas_train.FatContent.replace('low fat', 'Low Fat', inplace=True)
bundas_train.FatContent.replace('LF', 'Low Fat', inplace=True)
bundas_train.FatContent.replace('reg', 'Regular', inplace=True)

In [17]:
bundas_train.Category.unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [18]:
bundas_train.Store_Type.unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [19]:
bundas_train.Store_Location_Type.unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [20]:
bundas_train[['Category', 'Store_Type']].sample(20)

                   Category         Store_Type
5837           Frozen Foods      Grocery Store
6126     Health and Hygiene  Supermarket Type2
8335              Breakfast  Supermarket Type1
7172              Household  Supermarket Type1
6420  Fruits and Vegetables  Supermarket Type1
5542                   Meat      Grocery Store
5061           Baking Goods  Supermarket Type1
8505            Snack Foods  Supermarket Type2
852                  Canned  Supermarket Type1
7375                   Meat  Supermarket Type2
3856                   Meat  Supermarket Type1
7900           Frozen Foods  Supermarket Type1
7870  Fruits and Vegetables  Supermarket Type1
5241  Fruits and Vegetables  Supermarket Type1
1189            Hard Drinks  Supermarket Type1
8409     Health and Hygiene  Supermarket Type1
5633            Soft Drinks  Supermarket Type1
6050              Household  Supermarket Type1
7689                 Canned      Grocery Store
450            Baking Goods  Supermarket Type1

In [21]:
bundas_train.Visibility.max()

0.328390948

## Feature Engineering

### Some columns are meaningless in this analysis so they will be dropped. We will also separate the features from the target variable

In [22]:
X_train = bundas_train.drop(['Item_ID', 'Item_Store_Sales'],axis=1)
y_train = bundas_train['Item_Store_Sales']
X_train

,Weight,FatContent,Visibility,Category,Max_Price,Store_ID,Store_Establishment_Year,Store_Size,Store_Location_Type,Store_Type
0,9.300000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,5.920000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,17.500000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,19.200000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Unknown,Tier 3,Grocery Store
4,8.930000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
5,10.395000,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2
6,13.650000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1
7,12.857645,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3
8,16.200000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Unknown,Tier 2,Supermarket Type1
9,19.200000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Unknown,Tier 2,Supermarket Type1
10,11.800000,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1
11,18.500000,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1
12,15.100000,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1
13,17.600000,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1
14,16.350000,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1
15,9.000000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1
16,11.800000,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2
17,9.000000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1
18,12.857645,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3
19,13.350000,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1
20,18.850000,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1
21,12.857645,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3
22,14.600000,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1
23,12.857645,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store
24,13.850000,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1
25,13.000000,Low Fat,0.099887,Household,45.9060,OUT017,2007,Unknown,Tier 2,Supermarket Type1
26,7.645000,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1
27,11.650000,Low Fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1
28,5.925000,Regular,0.161467,Dairy,45.5086,OUT010,1998,Unknown,Tier 3,Grocery Store
29,12.857645,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store
...,...,...,...,...,...,...,...,...,...,...
8493,7.420000,Regular,0.025886,Snack Foods,189.1872,OUT017,2007,Unknown,Tier 2,Supermarket Type1
8494,15.200000,Low Fat,0.000000,Household,110.4912,OUT017,2007,Unknown,Tier 2,Supermarket Type1
8495,9.695000,Low Fat,0.029567,Snack Foods,160.4920,OUT035,2004,Small,Tier 2,Supermarket Type1
8496,7.420000,Regular,0.021696,Seafood,185.3582,OUT017,2007,Unknown,Tier 2,Supermarket Type1
8497,13.650000,Low Fat,0.049209,Fruits and Vegetables,150.0050,OUT035,2004,Small,Tier 2,Supermarket Type1
8498,15.350000,Low Fat,0.035293,Household,124.5730,OUT018,2009,Medium,Tier 3,Supermarket Type2
8499,11.600000,Low Fat,0.037574,Health and Hygiene,100.0042,OUT035,2004,Small,Tier 2,Supermarket Type1
8500,20.350000,Low Fat,0.000000,Household,125.1678,OUT017,2007,Unknown,Tier 2,Supermarket Type1
8501,5.340000,Regular,0.005998,Snack Foods,100.4358,OUT017,2007,Unknown,Tier 2,Supermarket Type1
8502,8.420000,Low Fat,0.070712,Household,216.4192,OUT045,2002,Unknown,Tier 2,Supermarket Type1
8503,20.500000,Low Fat,0.036133,Fruits and Vegetables,120.1756,OUT035,2004,Small,Tier 2,Supermarket Type1
8504,12.857645,Low Fat,0.124111,Household,111.7544,OUT027,1985,Medium,Tier 3,Supermarket Type3
8505,10.500000,Regular,0.094146,Snack Foods,210.8244,OUT018,2009,Medium,Tier 3,Supermarket Type2
8506,17.250000,Low Fat,0.084676,Soft Drinks,263.1910,OUT018,2009,Medium,Tier 3,Supermarket Type2
8507,5.880000,Regular,0.030242,Frozen Foods,101.7990,OUT035,2004,Small,Tier 2,Supermarket Type1
8508,11.350000,Regular,0.043246,Fruits and Vegetables,199.4742,OUT045,2002,Unknown,Tier 2,Supermarket Type1
8509,8.100000,Low Fat,0.214306,Fruits and Vegetables,213.9902,OUT010,1998,Unknown,Tier 3,Grocery Store
8510,13.800000,Regular,0.056862,Snack Foods,231.5984,OUT035,2004,Small,Tier 2,Supermarket Type1
8511,17.500000,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2
8512,20.700000,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1
8513,12.000000,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1
8514,15.000000,Regular,0.054489,Canned,57.5904,OUT045,2002,Unknown,Tier 2,Supermarket Type1
8515,20.700000,Low Fat,0.021518,Baking Goods,157.5288,OUT018,2009,Medium,Tier 3,Supermarket Type2
8516,18.600000,Low Fat,0.118661,Others,58.7588,OUT018,2009,Medium,Tier 3,Supermarket Type2
8517,20.750000,Regular,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1
8518,6.865000,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1
8519,8.380000,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,Unknown,Tier 2,Supermarket Type1
8520,10.600000,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1
8521,7.210000,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2
8522,14.800000,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1

### Now we need to encode the categorical variables

In [23]:
label_encoder = LabelEncoder()
# one_hot_encoder = OneHotEncoder(sparse=False)
# encoded_fat_content = one_hot_encoder.fit_transform(X_train[["FatContent"]])
# encoded_category = one_hot_encoder.fit_transform(X_train[["Category"]])
# encoded_store_size = one_hot_encoder.fit_transform(X_train[["Store_Size"]])
# encoded_store_location_type = one_hot_encoder.fit_transform(X_train[["Store_Location_Type"]])
# encoded_store_type = one_hot_encoder.fit_transform(X_train[["Store_Type"]])
# encoded_fat_content_df = pd.DataFrame(encoded_fat_content)

# X_train_features = pd.DataFrame(encoded_fat_content
X_train_features = pd.get_dummies(X_train)
# X_train_features.drop(['Weight', 'Visibility', 'Max_Price', 'Store_Establishment_Year'], axis = 1, inplace=True)
X_train_features.dtypes

Weight                            float64
Visibility                        float64
Max_Price                         float64
Store_Establishment_Year            int64
FatContent_Low Fat                  uint8
FatContent_Regular                  uint8
Category_Baking Goods               uint8
Category_Breads                     uint8
Category_Breakfast                  uint8
Category_Canned                     uint8
Category_Dairy                      uint8
Category_Frozen Foods               uint8
Category_Fruits and Vegetables      uint8
Category_Hard Drinks                uint8
Category_Health and Hygiene         uint8
Category_Household                  uint8
Category_Meat                       uint8
Category_Others                     uint8
Category_Seafood                    uint8
Category_Snack Foods                uint8
Category_Soft Drinks                uint8
Category_Starchy Foods              uint8
Store_ID_OUT010                     uint8
Store_ID_OUT013                     uint8
Store_ID_OUT017                     uint8
Store_ID_OUT018                     uint8
Store_ID_OUT019                     uint8
Store_ID_OUT027                     uint8
Store_ID_OUT035                     uint8
Store_ID_OUT045                     uint8
Store_ID_OUT046                     uint8
Store_ID_OUT049                     uint8
Store_Size_High                     uint8
Store_Size_Medium                   uint8
Store_Size_Small                    uint8
Store_Size_Unknown                  uint8
Store_Location_Type_Tier 1          uint8
Store_Location_Type_Tier 2          uint8
Store_Location_Type_Tier 3          uint8
Store_Type_Grocery Store            uint8
Store_Type_Supermarket Type1        uint8
Store_Type_Supermarket Type2        uint8
Store_Type_Supermarket Type3        uint8
dtype: object

## Model

In [24]:
model = linear_model.LinearRegression()
model.fit(X = X_train_features, y = y_train)
y_pred = model.predict(X_train_features)
r2_score(y_train, y_pred)

0.5637650620863444

In [25]:
bundas_test = pd.read_csv('bundas_test.csv')
print(bundas_test)
bundas_test.isnull().any()
bundas_test['Store_Size'] = bundas_test.Store_Size.fillna('Unknown')
bundas_test[['Weight']] = bundas_test.Weight.fillna(float(weight.mean()))
bundas_test.isnull().any()

     Item_ID  Weight FatContent  Visibility               Category  Max_Price  \
0      FDW58  20.750    Low Fat    0.007565            Snack Foods   107.8622
1      FDW14   8.300        reg    0.038428                  Dairy    87.3198
2      NCN55  14.600    Low Fat    0.099575                 Others   241.7538
3      FDQ58   7.315    Low Fat    0.015388            Snack Foods   155.0340
4      FDY38     NaN    Regular    0.118599                  Dairy   234.2300
5      FDH56   9.800    Regular    0.063817  Fruits and Vegetables   117.1492
6      FDL48  19.350    Regular    0.082602           Baking Goods    50.1034
7      FDC48     NaN    Low Fat    0.015782           Baking Goods    81.0592
8      FDN33   6.305    Regular    0.123365            Snack Foods    95.7436
9      FDA36   5.985    Low Fat    0.005698           Baking Goods   186.8924
10     FDT44  16.600    Low Fat    0.103569  Fruits and Vegetables   118.3466
11     FDQ56   6.590    Low Fat    0.105811  Fruits and Vegetables    85.3908
12     NCC54     NaN    Low Fat    0.171079     Health and Hygiene   240.4196
13     FDU11   4.785    Low Fat    0.092738                 Breads   122.3098
14     DRL59  16.750         LF    0.021206            Hard Drinks    52.0298
15     FDM24   6.135    Regular    0.079451           Baking Goods   151.6366
16     FDI57  19.850    Low Fat    0.054135                Seafood   198.7768
17     DRC12  17.850    Low Fat    0.037981            Soft Drinks   192.2188
18     NCM42     NaN    Low Fat    0.028184              Household   109.6912
19     FDA46  13.600    Low Fat    0.196898            Snack Foods   193.7136
20     FDA31   7.100    Low Fat    0.109920  Fruits and Vegetables   175.0080
21     NCJ31  19.200    Low Fat    0.182619                 Others   239.9196
22     FDG52  13.650         LF    0.065631           Frozen Foods    47.7402
23     NCL19     NaN    Low Fat    0.027447                 Others   142.3470
24     FDS10  19.200    Low Fat    0.035179            Snack Foods   180.7318
25     FDX22   6.785    Regular    0.038455            Snack Foods   209.4928
26     NCF19  13.000    Low Fat    0.035102              Household    47.6034
27     NCE06   5.825    Low Fat    0.091485              Household   161.3894
28     DRC27  13.800    Low Fat    0.058102                  Dairy   244.6802
29     FDE21  12.800         LF    0.022940  Fruits and Vegetables   116.5492
...      ...     ...        ...         ...                    ...        ...
5651   FDD23   9.500    Regular    0.048645          Starchy Foods   186.1898
5652   FDP32   6.650    Low Fat    0.087847  Fruits and Vegetables   126.7678
5653   FDO31   6.760    Regular    0.028977  Fruits and Vegetables    80.2960
5654   FDQ57   7.275    Low Fat    0.000000            Snack Foods   144.5760
5655   FDX32     NaN    Regular    0.099375  Fruits and Vegetables   143.6786
5656   FDC39     NaN    Low Fat    0.158425                  Dairy   207.8296
5657   FDU55  16.200    Low Fat    0.035911  Fruits and Vegetables   261.3278
5658   FDL45  15.600    Low Fat    0.037656            Snack Foods   123.4704
5659   DRK37   5.000    Low Fat    0.044073            Soft Drinks   188.8530
5660   FDK22   9.800    Low Fat    0.026065            Snack Foods   215.3850
5661   DRG37     NaN    Low Fat    0.000000            Soft Drinks   155.7972
5662   FDK22   9.800    Low Fat    0.026234            Snack Foods   214.3850
5663   DRH36  16.200    Low Fat    0.033516            Soft Drinks    72.8696
5664   DRC36  13.000    Regular    0.045168            Soft Drinks   173.4054
5665   DRE03     NaN    Low Fat    0.024110                  Dairy    46.0718
5666   FDF34   9.300    Regular    0.014019            Snack Foods   196.9084
5667   FDZ22   9.395    Low Fat    0.045270            Snack Foods    82.1250
5668   FDC44  15.600    Low Fat    0.288892  Fruits and Vegetables   115.1518
5669   FDN31     NaN    Low Fat    0.072529  Fruits and Vegetables   188.0530
5670   FDO03  10.395    Regular    0.037092                   Meat   229.4352
5671   FDA01  15.000        reg    0.054463                 Canned    59.5904
5672   NCH42   6.860    Low Fat    0.036594              Household   231.1010
5673   FDF46   7.070    Low Fat    0.094053            Snack Foods   116.0834
5674   DRL35  15.700    Low Fat    0.030704            Hard Drinks    43.2770
5675   FDW46  13.000    Regular    0.070411            Snack Foods    63.4484
5676   FDB58  10.500    Regular    0.013496            Snack Foods   141.3154
5677   FDD47   7.600    Regular    0.142991          Starchy Foods   169.1448
5678   NCO17  10.000    Low Fat    0.073529     Health and Hygiene   118.7440
5679   FDJ26  15.300    Regular    0.000000                 Canned   214.6218
5680   FDU37   9.500    Regular    0.104720                 Canned    79.7960

     Store_ID  Store_Establishment_Year Store_Size Store_Location_Type  \
0      OUT049                      1999     Medium              Tier 1
1      OUT017                      2007        NaN              Tier 2
2      OUT010                      1998        NaN              Tier 3
3      OUT017                      2007        NaN              Tier 2
4      OUT027                      1985     Medium              Tier 3
5      OUT046                      1997      Small              Tier 1
6      OUT018                      2009     Medium              Tier 3
7      OUT027                      1985     Medium              Tier 3
8      OUT045                      2002        NaN              Tier 2
9      OUT017                      2007        NaN              Tier 2
10     OUT017                      2007        NaN              Tier 2
11     OUT045                      2002        NaN              Tier 2
12     OUT019                      1985      Small              Tier 1
13     OUT049                      1999     Medium              Tier 1
14     OUT013                      1987       High              Tier 3
15     OUT049                      1999     Medium              Tier 1
16     OUT045                      2002        NaN              Tier 2
17     OUT018                      2009     Medium              Tier 3
18     OUT027                      1985     Medium              Tier 3
19     OUT010                      1998        NaN              Tier 3
20     OUT013                      1987       High              Tier 3
21     OUT035                      2004      Small              Tier 2
22     OUT046                      1997      Small              Tier 1
23     OUT019                      1985      Small              Tier 1
24     OUT035                      2004      Small              Tier 2
25     OUT010                      1998        NaN              Tier 3
26     OUT035                      2004      Small              Tier 2
27     OUT046                      1997      Small              Tier 1
28     OUT046                      1997      Small              Tier 1
29     OUT035                      2004      Small              Tier 2
...       ...                       ...        ...                 ...
5651   OUT013                      1987       High              Tier 3
5652   OUT045                      2002        NaN              Tier 2
5653   OUT035                      2004      Small              Tier 2
5654   OUT013                      1987       High              Tier 3
5655   OUT027                      1985     Medium              Tier 3
5656   OUT027                      1985     Medium              Tier 3
5657   OUT046                      1997      Small              Tier 1
5658   OUT013                      1987       High              Tier 3
5659   OUT049                      1999     Medium              Tier 1
5660   OUT013                      1987       High              Tier 3
5661   OUT027                      1985     Medium              Tier 3
5662   OUT017                      2007        NaN              Tier 2
5663   OUT018                      2009     Medium              Tier 3
5664   OUT018                      2009     Medium              Tier 3
5665   OUT027                      1985     Medium              Tier 3
5666   OUT046                      1997      Small              Tier 1
5667   OUT046                      1997      Small              Tier 1
5668   OUT010                      1998        NaN              Tier 3
5669   OUT027                      1985     Medium              Tier 3
5670   OUT017                      2007        NaN              Tier 2
5671   OUT049                      1999     Medium              Tier 1
5672   OUT049                      1999     Medium              Tier 1
5673   OUT018                      2009     Medium              Tier 3
5674   OUT046                      1997      Small              Tier 1
5675   OUT049                      1999     Medium              Tier 1
5676   OUT046                      1997      Small              Tier 1
5677   OUT018                      2009     Medium              Tier 3
5678   OUT045                      2002        NaN              Tier 2
5679   OUT017                      2007        NaN              Tier 2
5680   OUT045                      2002        NaN              Tier 2

             Store_Type
0     Supermarket Type1
1     Supermarket Type1
2         Grocery Store
3     Supermarket Type1
4     Supermarket Type3
5     Supermarket Type1
6     Supermarket Type2
7     Supermarket Type3
8     Supermarket Type1
9     Supermarket Type1
10    Supermarket Type1
11    Supermarket Type1
12        Grocery Store
13    Supermarket Type1
14    Supermarket Type1
15    Supermarket Type1
16    Supermarket Type1
17    Supermarket Type2
18    Supermarket Type3
19        Grocery Store
20    Supermarket Type1
21    Supermarket Type1
22    Supermarket Type1
23        Grocery Store
24    Supermarket Type1
25        Grocery Store
26    Supermarket Type1
27    Supermarket Type1
28    Supermarket Type1
29    Supermarket Type1
...                 ...
5651  Supermarket Type1
5652  Supermarket Type1
5653  Supermarket Type1
5654  Supermarket Type1
5655  Supermarket Type3
5656  Supermarket Type3
5657  Supermarket Type1
5658  Supermarket Type1
5659  Supermarket Type1
5660  Supermarket Type1
5661  Supermarket Type3
5662  Supermarket Type1
5663  Supermarket Type2
5664  Supermarket Type2
5665  Supermarket Type3
5666  Supermarket Type1
5667  Supermarket Type1
5668      Grocery Store
5669  Supermarket Type3
5670  Supermarket Type1
5671  Supermarket Type1
5672  Supermarket Type1
5673  Supermarket Type2
5674  Supermarket Type1
5675  Supermarket Type1
5676  Supermarket Type1
5677  Supermarket Type2
5678  Supermarket Type1
5679  Supermarket Type1
5680  Supermarket Type1

[5681 rows x 11 columns]

Item_ID                     False
Weight                      False
FatContent                  False
Visibility                  False
Category                    False
Max_Price                   False
Store_ID                    False
Store_Establishment_Year    False
Store_Size                  False
Store_Location_Type         False
Store_Type                  False
dtype: bool

In [26]:
bundas_test['FatContent'].unique()

array(['Low Fat', 'reg', 'Regular', 'LF', 'low fat'], dtype=object)

In [27]:
bundas_test.FatContent.replace('low fat', 'Low Fat', inplace=True)
bundas_test.FatContent.replace('LF', 'Low Fat', inplace=True)
bundas_test.FatContent.replace('reg', 'Regular', inplace=True)
bundas_test.head()

,Item_ID,Weight,FatContent,Visibility,Category,Max_Price,Store_ID,Store_Establishment_Year,Store_Size,Store_Location_Type,Store_Type
0,FDW58,20.750000,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300000,Regular,0.038428,Dairy,87.3198,OUT017,2007,Unknown,Tier 2,Supermarket Type1
2,NCN55,14.600000,Low Fat,0.099575,Others,241.7538,OUT010,1998,Unknown,Tier 3,Grocery Store
3,FDQ58,7.315000,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,Unknown,Tier 2,Supermarket Type1
4,FDY38,12.857645,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [31]:
X_test = bundas_test.drop(['Item_ID'],axis=1)
X_test_features = pd.get_dummies(X_test)
model.predict(X_test_features)

array([1835.76091502, 1531.50296273, 1881.66025009, ..., 1824.37530058,
       3587.37688271, 1285.68376058])